# vim swap files
.*.sw?

# python caches
__pycache__

# exceptions
!/_bin/find_cc_ld_library_path
!/_bin/sys_config
!/_bin/ut_launch
!/_bin/version

# directories
*.dir
/bin/
/lib/

# doc
/doc/lmake.html

#auto-configuration
/trial/
/sys_config.*
/sys_config_env
/version.hh

# compiled files
*.i
*.s
*.o
*.chk
*.d
*.hh.gch
*.so
*.stamp
*/stamp
*.inc_stamp

# binaries
/_bin/align_comments
/_bin/job_exec
/_bin/ldump
/_bin/ldump_job
/_bin/lmakeserver

# tests
tok
/src/store/unit_test
/core.*

# IDE files
/.idea/
/.vscode/

# Lmake env
!/lmake_env/Lmakefile.py
!/lmake_env/ext_lnk
/lmake_env
/lmake_env-cache

# tarball
/lmake.tar.gz
/open-lmake-*/

# debian
/debian/*debhelper*
/debian/*substvars
/debian/files
/debian/*/
