# vim swap files
.*.sw?

# python caches
__pycache__

# directories
*.dir
/bin/
/lib/

# binaries
/_bin/align_comments
/_bin/job_exec
/_bin/ldump
/_bin/ldump_job
/_bin/lmakeserver

# doc
/doc/info.texi
/doc/lmake.html
/doc/man/man1/*.1

#auto-configuration
/trial/
/sys_config.*
/sys_config_env
/version.hh
/Manifest

# compiled files
*.i
*.s
*.o
*.chk
*.d
*.hh.gch
*.so
*.stamp
*/stamp
*.inc_stamp

# tests
tok
/src/store/unit_test
/core.*

# IDE files
/.idea/
/.vscode/

# Lmake env
!/lmake_env/Lmakefile.py
!/lmake_env/ext_lnk
/lmake_env
/lmake_env-cache

# tarball
/lmake.tar.gz
/open-lmake-*/

# debian
/debian/*debhelper*
/debian/*substvars
/debian/files
/debian/changelog
/debian/*/
/open-lmake_*.build
/open-lmake_*.buildinfo
/open-lmake_*.changes
/open-lmake_*.deb
/debian-repo/
