# vim swap files
.*.sw?

# python caches
__pycache__

# directories
!/unit_tests/git.dir/hello
!/unit_tests/git.dir/world
*.dir
/bin/
/lib/

# doc
/doc/lmake.html

#auto-configuration
/trial/
/sys_config.h*

# compiled files
*.i
*.o
*.so
/ext/**.patched*
*.stamp
*/stamp
*.inc_stamp
/_bin/autodep
/_bin/job_exec
/_bin/ldump
/_bin/ldump_job
/_bin/lmakeserver
/_bin/read_makefiles

# tests
tok
/src/store/unit_test

# IDE files
/.idea/
/.vscode/

# Lmake env
!/lmake_env/Lmakefile.py
!/lmake_env/ext_lnk
/lmake_env
/lmake_env-cache

# tarball
/lmake.tar.gz
/open-lmake-*/

# debian
/debian/*debhelper*
/debian/*substvars
/debian/files
/debian/*/
