# This file is part of the open-lmake distribution (git@github.com:cesar-douady/open-lmake.git)
# Copyright (c) 2023-2025 Doliam
# This program is free software: you can redistribute/modify under the terms of the GPL-v3 (https://www.gnu.org/licenses/gpl-3.0.html).
# This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Source: open-lmake
Section: devel
Priority: optional
Maintainer: Cesar Douady <cesar.douady@doliam.fr>
Build-Depends:
 debhelper-compat (= 13),
 dh-apparmor,
 ed,
 groff,
 m4,
 python3,
 python3-dev,
 strace,
 wget,
# not strictly necessary but recommended
 git,
 libpcre2-dev,
 libpcre2-8-0,
 libseccomp-dev,
 libzstd-dev,
 zlib1g,
 zlib1g-dev
Standards-Version: 4.6.2
Homepage: https://github.com/cesar-douady/open-lmake

Package: open-lmake
Architecture: amd64 arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 python3,
 python3-dev,
# necessary if mentioned at build time, suppress if suppressed at build time
 git,
 libpcre2-8-0,
 libseccomp-dev,
 libzstd-dev,
 zlib1g,
 zlib1g-dev
Recommends:
 libslurm37 | libslurm38 | libslurm39 | libslurm40 | libslurm40t64 | libslurm41t64 | libslurm42t64 | libslurm43t64
Description: pythonic workflow management system
 Build systems like GNU Make are frequently used to create complicated
 workflows. This project aims to reduce the complexity of creating workflows
 by automatically handling dependencies, together with a fast and
 comfortable execution environment.
 It leverages python for the user interface and is scalable to millions of jobs.
