#!/usr/bin/make -f
# This file is part of the open-lmake distribution (git@github.com:cesar-douady/open-lmake.git)
# Copyright (c) 2023-2025 Doliam
# This program is free software: you can redistribute/modify under the terms of the GPL-v3 (https://www.gnu.org/licenses/gpl-3.0.html).
# This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

% :
	dh $@

override_dh_auto_build :
	make LMAKE

override_dh_auto_install :
	dh_auto_install
	apparmor_parser --version | grep -q 'version  *4\.' && dh_apparmor --profile-name=open-lmake -popen-lmake

override_dh_strip :
	dh_strip --no-automatic-dbgsym

# stupid debian does not understand debug symbol files, filter them out
override_dh_shlibdeps :
	dh_shlibdeps -X.dbg

override_dh_makeshlibs :
# Do nothing

override_dh_dwz :
# Do nothing

