#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	make LMAKE

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_makeshlibs:
# Do nothing

override_dh_dwz:
# Do nothing

