#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

% :
	dh $@

override_dh_auto_build :
	make LMAKE

override_dh_auto_install :
	dh_auto_install
	if apparmor_parser --version | grep -q 'version  *4\.' ; then dh_apparmor --profile-name=open-lmake -popen-lmake ; fi

override_dh_strip :
	dh_strip --no-automatic-dbgsym

# stupid debian does not understand debug symbol files, filter them out
override_dh_shlibdeps :
	dh_shlibdeps -X.dbg

override_dh_makeshlibs :
# Do nothing

override_dh_dwz :
# Do nothing

